@import url(http://fonts.googleapis.com/earlyaccess/notosanstc.css);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

/*sprite*/
.my-icons-sprite, .my-icons-cream1, .my-icons-cream2 {
  background-image: url('../images/my-icons-sb5a3ea0d7a.png');
  background-repeat: no-repeat; }

.my-icons-cream1 {
  background-position: 0 0; }

.my-icons-cream2 {
  background-position: 0 -128px; }

.dessert_box1 {
  text-indent: -9999px;
  display: inline-block;
  width: 128px;
  height: 128px;
  background: url('../images/my-icons-s0099924cb2.png') 0 0; }
  .dessert_box1:hover {
    background: url('../images/my-icons-s0099924cb2.png') 0 -128px; }

.logoSvg {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #545252;
  z-index: 2000;
  text-align: center;
  padding-top: 150px;
  animation: fadeOut 1s linear 1s forwards; }
@keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }
/* =======================================================
*
* 	Template Style 
*	Edit this section
*
* ======================================================= */
body {
  font-family: "Noto Sans TC", "Microsoft JhengHei", sans-serif;
  letter-spacing: 2px; }

a {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

.nav_header, .container, footer {
  max-width: 1170px;
  margin: 0 auto; }

header {
  height: 800px;
  background-color: rgba(66, 64, 64, 0.9); }

/*navigation bar*/
.nav_header {
  padding-top: 30px; }
  .nav_header nav {
    float: right; }

.nav_bar {
  margin: 0;
  padding: 20px 0 0 0;
  display: inline-block; }
  .nav_bar li {
    font-size: 1em;
    display: inline-block;
    padding-left: 35px; }
    .nav_bar li a {
      font-family: 'Noto Sans TC', sans-serif;
      color: rgba(255, 255, 255, 0.5);
      transition-property: all;
      transition-duration: 0.3s; }
      .nav_bar li a:hover {
        color: white; }
  .nav_bar li.active a {
    color: white; }

/*login bar*/
.logbar_wrap {
  position: relative;
  display: inline-block;
  height: 36px; }
  .logbar_wrap:hover .log_dropdown {
    box-shadow: black 2px 2px 10px;
    visibility: visible; }
  .logbar_wrap:hover .loginbar {
    background-color: white; }

.loginbar {
  font-size: 0.75em;
  display: inline-block;
  padding: 4px 8px;
  margin-left: 20px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.5);
  transition-property: all;
  transition-duration: 0.3s; }
  .loginbar:hover {
    background-color: white; }
  .loginbar a {
    color: rgba(66, 64, 64, 0.9);
    display: block;
    text-shadow: rgba(255, 255, 255, 0.3) 1px 1px 0; }
    .loginbar a .fa-user {
      padding-right: 5px; }
    .loginbar a .fa-chevron-down {
      padding-left: 5px; }

.log_dropdown {
  cursor: pointer;
  visibility: hidden;
  font-size: 1em;
  color: rgba(66, 64, 64, 0.9);
  position: absolute;
  z-index: 1;
  min-width: 120px;
  top: 35px;
  left: 0; }

.log_dropdown ::before {
  content: '';
  position: absolute;
  top: -15%;
  left: 30%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent white transparent; }

.log_dropdown li {
  white-space: nowrap;
  background-color: white;
  padding: 0.625em 1.25em; }
  .log_dropdown li:hover a {
    color: #FCC72C; }

.log_dropdown li:first-child {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px; }

.log_dropdown li:last-child {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px; }

/*alert log*/
.alert_btn:hover, .alert_btn:active, .alert_btn:focus {
  background: #f2b503; }

.alert_btn {
  margin-top: 15px; }

/*Form*/
.form {
  font-family: "Noto Sans TC", "Microsoft JhengHei", sans-serif;
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24); }

.form input[type=text], .form input[type=password] {
  font-family: "Noto Sans TC", "Microsoft JhengHei", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px 15px 15px 30px;
  box-sizing: border-box;
  font-size: 14px; }

.form input[type=text]:focus, .form input[type=password]:focus {
  outline: solid 2px #FCC72C; }

.form button, .alert_btn {
  font-family: "Noto Sans TC", "Microsoft JhengHei", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #FCC72C;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  transition: all 0.3 ease;
  cursor: pointer;
  transition-property: all;
  transition-duration: 0.3s; }

.form label {
  position: relative; }

.form label i {
  color: rgba(66, 64, 64, 0.9);
  position: absolute;
  left: 10px;
  top: 5px; }

.form button:hover, .form button:active, .form button:focus {
  background: #f2b503; }

.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px; }

.form .message a {
  color: #FCC72C;
  text-decoration: none; }

.form .errmsg {
  font-family: "Noto Sans TC", "Microsoft JhengHei", sans-serif;
  padding: 2px 4px;
  margin: 0 0 15px;
  text-align: left;
  font-size: 0.75em;
  color: #c7254e;
  background-color: #f9f2f4;
  border-radius: 4px; }

.log_bg {
  background-color: rgba(66, 64, 64, 0.9); }

.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto; }

.welcome_login {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 16px; }

.form .register-form {
  display: none; }

.container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto; }

.container:before, .container:after {
  content: "";
  display: block;
  clear: both; }

.container .info {
  margin: 50px auto;
  text-align: center; }

.container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a; }

.container .info span {
  color: #4d4d4d;
  font-size: 12px; }

.container .info span a {
  color: #000000;
  text-decoration: none; }

.container .info span .fa {
  color: #EF3B3A; }

.dialog {
  display: none;
  width: 200px;
  text-align: center;
  line-height: 24px;
  padding: 100px;
  background-color: #fff;
  margin: 200px auto 0 auto;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24); }
